@media (max-width: 40em){
  .profileBuild{
    h2{
      font-size: .75rem;
      margin: 0;
      &.first{
      margin-top: 5rem;
      margin-bottom: 3rem;
      }
    }
    span{
      margin: 1rem;
      background: $charlie;
      color: $delta;
      font-size: 1.5rem;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      :active{
        background: $bravo;
      }
    }
    .fieldWrap{
      margin: 0;
    }
    ul{
      margin: 0;
    }
    textarea, input{
      font-size: .75em;
      font-style: normal;
    }
    button{
      margin: 15vh 0 5vh 0;
      border: $delta;
      color: $delta;
    }
  }
}