.show{
  background: $alpha;
  padding: 5vh;
  header{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  #edit{
    text-decoration: none;
    height: 8vh;
    width: 16vh;
  }
  figure{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
      @extend %transition;
      width: 100%;
      display: block;
      color: $alpha_light70;
      font-family: $header-font;
    }
    figcaption{
      @extend %transition;
      width: 100%;
      padding: .5em;
      text-align: center;
      margin-top: .25em;
      min-width: 315px;
      &:hover{
        @extend %transition;
        color: $alpha_light90;
        background: $alpha_light10;
        border-radius: 1em;
       }
      span{
        @extend %transition;
        color: $alpha;
        & .fa-chevron-circle-down{
          padding-right: .5em;
        }
      }
      &:hover > span{
        @extend %transition;
        color: $charlie;
      }
    }
  }
  img{
    @extend %transition_pt1s;
    height: 20vh;
    width: 20vh;
    background: $alpha_light90;
    border: 10px solid $bravo;
    border-radius: 50%;
    margin-bottom: 0 0 2vh 0;
    &:hover{
      @extend %transition_pt1s;
      border-color: $charlie;
    }
  }
  article{
    @extend %transition;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    background: transparent;
    &:hover > section{
      opacity: .8;
    }
    section{
      @extend %transition_pt1s;
      margin: 1vh;
      display: flex;
      align-items: center;
      background: transparent;
      width: 100%;
      position: relative;
      input.showMore{
        @extend %transition_pt5s;
        opacity: 0;
        position: absolute;
        left: 1em;
        top: 1em;
        &:checked ~ p{
          transition: all 5s ease-in-out;
          height: auto;
          white-space: normal;
          display: inline-block;
        }
      }
      label.showMore{
        @extend %transition_pt5s;
        position: absolute;
        top: 0;
        width: 3em;
        color: blue;
        background-color: orange;
        cursor: pointer;
      }
      label.showMore::before{
        content:"More";
      }

      span{
        @extend %transition;
        opacity: 0;
        height: 2em;
        width: 2em;
        border-radius: 50%;
        background: transparent;
        border: 1px solid transparent;
        color: $delta;
        background: $bravo;
        text-align: center;
        vertical-align: middle;
        padding-top: .5em;
        font-size: 1em;
      }
      &:hover{
        @extend %transition;
        opacity: 1;
        background-color: $charlie;
        & label{
          @extend %transition;
          color: $delta;
        }
      }
      &:hover > span{
        @extend %transition;
        opacity: 1;
        color: $delta;
      }
      &#editContainer{
        @extend %transition_pt1s;
        border-radius: .25em;
        width: auto;
        flex-wrap: wrap;
        position: absolute;
        top: 6em;
        right: 10vw;
        padding: 1em;
        justify-content: center;
        &:hover{
          @extend %transition_pt1s;
          background-color: $alpha_light10;
        }
        a{
          @extend %transition;
          height: auto;
          text-align: center;
          padding: 0;
          margin: 0;
          color: $alpha_light50;
          width: 100%;
          text-transform: uppercase;
          font-family: $title-font;
        }
         &:hover > a{
          @extend %transition;
          color: $alpha_light90;
        }
        span{
          @extend %transition;
          color: $alpha;
          font-size: 3vh;
          margin-top: -.25em;
          padding-right: .5em;
        }
        &:hover > span{
          @extend %transition;
          color: $charlie;
          margin-top: .5em;
        }
      }
    }
    label{
      @extend %transition;
      width: 50%;
      background: transparent;
      color: $charlie;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 8vh;
      background: transparent;
      padding-right: 1em;
    }
    p{
      @extend %transition_pt5s;
      padding: .7em 0 .3em 1em;
      vertical-align: center;
      background: transparent;
      width: 45%;
      // border: 1px solid $delta;
      display: block;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }
  .request, .addFav, .remFav{
    text-decoration: none;
    color: $delta;
    border: 1px solid $delta;
    border-radius: .25em;
    height: 10vh;
    width: 30vh;
    display: block;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  aside{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  #back{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $alpha;
    height: 10vh;
    width: 30vh;
    margin: 0 auto;
  }
  p{
    height: 8vh;
    width: 100%;
  }
  p:nth-of-type(odd){
  }
  ul{
    // border: 1px solid $delta;
    width: 65%;
    height: 8vh;
  }
  aside{
    margin-top: 2vh;
    width: 100%;
    a{
      margin: 1em;
      padding: 1em;
      font-family: $header-font;
      font-size: 2vh;
      text-transform: uppercase;
      border: 2px solid $alpha;
      border-radius: .25em;
      &:hover{
        @extend %transition;
        color: $charlie;
        border-color: $charlie;
      }
    }
  }
  button.lookGoodBtn{
    display: block;
    margin: 2vh auto 5vh auto;
    border: 1px solid $bravo;
    border-bottom: 3px solid $bravo;
    background: $charlie;
    height: auto;
    padding: 0;
    a#lookGood{
      @extend %transition_pt1s;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 8em;
      height: 3em;
      width: auto;
      color: $delta;
      font-family: $header-font;
      text-transform: uppercase;
      &:hover{
        @extend %transition_pt1s;
        background: $charlie_light20;
      }
    }

  }
}