.intro
  %span.linkage0.fa.fa-angle-double-up
  %article
    %section#_1
      %h1 Welcome to Match.
      %h2 A pairing engine built for Codefellows.
      %h3 building relationships for a developing world
      %a.linkage1
        %span.linkage1.fa.fa-arrow-circle-o-down
    %section#_2
      %h2 Think of Match as a career jumpstart.
      %h3 We help driven, talented students <br> start meaningful conversations <br> with experienced practicioners in the field.
      %a.linkage2
        %span.linkage2.fa.fa-arrow-circle-o-down
    %section#_3
      %h2 So, go on. Take a look.
      %h3 We'll help you design a killer profile,<br> introduce you to an engaging mentor <br> and make sure your first step out the door is on to solid ground.
      %a.linkage3
        %span.linkage3.fa.fa-arrow-circle-o-down
    %section#_4
      %h2 Fill out your profile to get started.
      %h3 Build on that with guided exercises from our toolbox<br> to help mentors (and you!) understand what makes you tick.
      %a.linkage4
        %span.linkage4.fa.fa-arrow-circle-o-down
    %section#_5
      %h1 Leverage what you learn.
      %h2 Reach out to mentors simply,<br> smartly and with confidence.
      %h3 The powerfssf
      %section.gotItWrapper
        =link_to "Got it!", dashboard_path(current_user.id), class: "continue"
