.toolbox
  %h2 Welcome to your Match Toolbox.
  %h3 Use these exercises to collect your thoughts, explore your options, and develop a plan.
  .flexGrid
    .box
      %a.values
    .box
      %a.strengths
    .box
      %a.fulfill
    .box
      %a.network
    .box
      %a.bizFind
    .box
      %a.cmatrix
    .box
      %a.experience
    .box
      %a.background
    .box
      %a.interests