//Codefellows Brand Colors
//==============================================

$alpha: #262625;    //charcoal gray
$bravo: #852019;    //crimson red
$charlie: #D03226;  //code red
$delta: #FFF;       //pure white
$echo: #E1DED2;     //beige



