$alpha_light10:scale-color($alpha,$lightness:10%);
$alpha_light20:scale-color($alpha,$lightness:20%);
$alpha_light30:scale-color($alpha,$lightness:30%);
$alpha_light40:scale-color($alpha,$lightness:40%);
$alpha_light50:scale-color($alpha,$lightness:50%);
$alpha_light60:scale-color($alpha,$lightness:60%);
$alpha_light70:scale-color($alpha,$lightness:70%);
$alpha_light80:scale-color($alpha,$lightness:80%);
$alpha_light90:scale-color($alpha,$lightness:90%);

$bravo_light10:scale-color($bravo,$lightness:10%);
$bravo_light20:scale-color($bravo,$lightness:20%);
$bravo_light30:scale-color($bravo,$lightness:30%);
$bravo_light40:scale-color($bravo,$lightness:40%);
$bravo_light50:scale-color($bravo,$lightness:50%);
$bravo_light60:scale-color($bravo,$lightness:60%);
$bravo_light70:scale-color($bravo,$lightness:70%);
$bravo_light80:scale-color($bravo,$lightness:80%);
$bravo_light90:scale-color($bravo,$lightness:90%);

$charlie_light10:scale-color($charlie,$lightness:10%);
$charlie_light20:scale-color($charlie,$lightness:20%);
$charlie_light30:scale-color($charlie,$lightness:30%);
$charlie_light40:scale-color($charlie,$lightness:40%);
$charlie_light50:scale-color($charlie,$lightness:50%);
$charlie_light60:scale-color($charlie,$lightness:60%);
$charlie_light70:scale-color($charlie,$lightness:70%);
$charlie_light80:scale-color($charlie,$lightness:80%);
$charlie_light90:scale-color($charlie,$lightness:90%);

$delta_light10:scale-color($delta,$lightness:10%);
$delta_light20:scale-color($delta,$lightness:20%);
$delta_light30:scale-color($delta,$lightness:30%);
$delta_light40:scale-color($delta,$lightness:40%);
$delta_light50:scale-color($delta,$lightness:50%);
$delta_light60:scale-color($delta,$lightness:60%);
$delta_light70:scale-color($delta,$lightness:70%);
$delta_light80:scale-color($delta,$lightness:80%);
$delta_light90:scale-color($delta,$lightness:90%);

$echo_light10:scale-color($echo,$lightness:10%);
$echo_light20:scale-color($echo,$lightness:20%);
$echo_light30:scale-color($echo,$lightness:30%);
$echo_light40:scale-color($echo,$lightness:40%);
$echo_light50:scale-color($echo,$lightness:50%);
$echo_light60:scale-color($echo,$lightness:60%);
$echo_light70:scale-color($echo,$lightness:70%);
$echo_light80:scale-color($echo,$lightness:80%);
$echo_light90:scale-color($echo,$lightness:90%);