%section.stack
  = f.label :stack
  = f.select :stack, options_for_select([["Front End"], ["Javascript"], ["Python"], ["Ruby on Rails"], ["iOS"]],)
  .break
%section.gradClass
  = f.label :Class
  = f.select :graduating_class, options_for_select([["May-June '14"], ["June-July '14"]])