body.new {
  background: $alpha;
}
.new h2 {
  display: block;
  text-align: center;
  margin-top: 5vh;
}

form#new_user{
  // margin: 0 auto;
  // text-align: center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
// .new h2, label, input {
//   width: 100%;
//   display: flex;
//   justify-content: center;
// }

#new_user {
  & article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    width: 100%;
  }
  & .inputs-wrapper{
    display: block;
    width: 50%;
    margin-right: 35%;
  }
  & section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &.userEmail, &.userPassword {
      justify-content: flex-end;
      align-items: center;
      margin: 1em 35% 1em 1em;
      padding: .5em;
    }
  }
  & label{
    color: $delta;
    margin-right: 1em;
  }
  & input{
    width: 15vw;
  }
}

[name="commit"]{
  display: block;
  margin: 5vh auto;
  height: 2em;
}

.links-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 0;
  a{
    height: 2em;
    width: 2em;
    margin: 1em;
    &.linkedin{
      background-image: url(image-path("linkedin_icon.png"));
    }
    &.github{
      background-image: url(image-path("github_icon.png"));
    }
  }
}