.intro span.fa:hover{
  @extend %transition_pt1s;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
  color: $delta;
}

.intro span.fa:active{
  @extend %transition_pt1s;
  color: $bravo;
}

a.continueBtn:hover{
  @extend %transition_pt1s;
  background-color: $alpha_light60;
}