.intro {
  background-image: url(image-path("cf_background_bw_6.23.14.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  article {
  display: block;
  height: 500vh;
  }
  section{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  }
  h1 {
    margin-top: 2em;
    font-size: 7.85vh;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
  }
  h2 {
    font-size: 4.854vh;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
    margin-top: 2em;
  }
  h3 {
    font-size: 3vh;
    text-align: center;
    padding-bottom: 50vh;
    width: 100%;
  }
  #_1 h1{
    margin-top: 2em;
  }
  #_1 h2 {
    margin-top: 0;
    color: $charlie;
  }
  #_1 h3{
    width: 100%;
    padding-bottom: 40vh;
    }
  #_5 h3 {
    padding-bottom: 30vh;
  }
  a{
    height: 2em;
    width: 2em;
    // background-image: url(image-path("fangs.png"));
    // background-position: center;
    // background-size: cover;
  }
  span.fa{
    font-size: 4em;
    color: $charlie;
  }
}

