.intro span.fa:hover{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  transform: scale(1.2);
  color: $delta;
}

.intro span.fa:active{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  color: $bravo;
}

a.continue:hover{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  background-color: $charlie;
  -webkit-transform: translateX(1em);
  -moz-transform: translateX(1em);
  -o-transform: translateX(1em);
  transform: translateX(1em);
}