.intro {
  background-image: url(image-path("cf_background_bw_6.23.14.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1{
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1.5em;
    // background-color:;

  }
  h2 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
    color: $charlie;
  }
  h3{
    font-size: 1.5em;
    text-align: center;
  }
}
.intro article{
display: block;
// flex-flow: column;
// align-items: center;
height: 500vh;
}

section._1 {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  h1{
    font-size: 5em;
    width: 100%;
  }
  h2{
    width: 100%;
  }
  h3{
    width: 100%;
    padding-bottom: -webkit-calc(100vh - 6em);
    padding-bottom: calc(100vh - 6em);
  }
  }