.quickNav{
  display: flex;
  margin-right: 2em;
  margin-top: .5em;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  height: 5vh;
  ul{
    display: flex;
    align-self: flex-end;
    align-items: center;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    width: 100%;
    height: 3rem;
    .verticalRule{
      display: flex;
      align-items: center;
      height: 4vh;
      width: 1px;
      background-color: $delta;
    }
    li{
      @extend %transition_pt1s;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      &:hover > a{
        @extend %transition;
        color: $alpha_light50;
      }
      &.userCheck:hover > a{
        color: $delta;
      }
      &:hover > label{
        @extend %transition_pt1s;
        margin-bottom: -2.5em;
        opacity: 1;
        font-size: .5em;
      }
        label{
          @extend %transition_pt1s;
          color: $delta;
          font-size: .1em;
          border-radius: 3px;
          padding: .25em;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          opacity: 0;
          z-index: 1;
          text-align: center;
          }
        &.userCheck{
          // width: 10em;
        }
      }
       p{
        display: flex;
        font-size: .5em;
        margin: 0 .25em 0 .5em;
        }
      a{
        margin: 0 .25em;
        display: flex;
        font-size: 4vh;
        text-decoration: none;
        color: $delta;
        &.signout{
          @extend %transition;
          height: 3rem;
          width: 3rem;
          font-size: .5em;
          border-radius: 50%;
          background: $charlie;
          color: $delta;
          display: flex;
          align-items: center;
          justify-content: center;
          text-wrap: nowrap;
          margin: 0 .5em;
          &:hover{
            @extend %transition;
            background: $bravo;
            color: $delta;
          }
        }
      }
      img{
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
  }
}


a.fa{
  font-size: 5vh;
  color: $delta;
  display: flex;
  justify-content: center;
}
