.dash
  %figure.logo
    =image_tag ("cflogo.png")
  %nav.quickNav
    %ul
      %li.headshot
        =image_tag ("gabe_square.jpg")
      %li
        %a.fa.fa-home(abbr title="home")
      %li
        %a.fa.fa-briefcase(abbr title="toolbox")
      %li
        %a.fa.fa-bullhorn(abbr title="feedback")
      %li
        %a.fa.fa-cog(abbr title="account")
  .mainWrapper
    .mainNav
      %section
        %p Home
        %a.fa.fa-chevron-circle-right
      %section
        %p My Account
        %a.fa.fa-chevron-circle-right
      %section
        %p My Mentor
        %a.fa.fa-chevron-circle-right
      %section
        %p Browse
        %a.fa.fa-chevron-circle-right
      %section
        %p My Toolbox
        %a.fa.fa-chevron-circle-right
      %section
        %p About
        %a.fa.fa-chevron-circle-right
      %section
        %p Feedback
        %a.fa.fa-chevron-circle-right
    .main
    .mainAside