%section.input-wrap
        %label(for:"email") Email:
        %input#email(type:"text", placeholder:">_ stranger@danger.com", required)
        %label(for:"password") Password:
        %input#password(type:"text", placeholder:">_ supersecretword", required)
      %button(type:"submit")
    %section.prog-wrap
      %prog-bar
      %prog-bar
      %prog-bar
