%h1 Know Thyself
%h2 Anyone trying to enter, or re-enter the job market would benefit from a bit of honest self-assessment.
%main
  %h3 What are your core values? Your beliefs? What makes you excited to get out of bed in the morning?
  %textarea(autofocus)