%select
        %option(value:"ux")UX Front End Development &amp; Design
        %option(value:"js")Javascript
        %option(value:"python")Python
        %option(value:"rails")Ruby on Rails
        %option(value:"ios")iOS
        %option(value:"cs_bootcamp")Computer Science &amp; Web Dev Bootcamp
        %option(value:"f1")Foundations I
        %option(value:"f2py") Foundations II: Python
        %option(value:"f2ios") Foundations II: iOS
        %option(value:"f2js") Foundations II: Javascript
        %option(value:"f2ux") Foundations II: Front End
        %option(value:"f2rails")  Foundations II: Ruby on Rails