<%= render ("admin_navbar") %>

%section.usercard
  %figure
    %img.userimage
  %p

  %h2 Mentor
    /link to mentor's profile
  %h2 Feedback
    /show feedback given by mentor about students
    /show feedback from instructor

  %button /link to timeline
  %div.status /relationship health indicator

<%= render ("admin_main_nav") %>