<%= render ("admin_navbar") %>

%figure
  %img /student profile photo with link to profile
%figure
  %img /mentor profile photo with link to profile
%section.timeline
  /how can we build this?

<%= render ("admin_main_nav") %>