<%= render ("admin_navbar") %>

%section.usercard
  %figure
    %img.userimage
  %p

  %h2 Mentees
    %figure
      %img  /links to mentor's students. For each:
        %button /link to timeline
        %div.status /relationship health indicator
      %img  /links to mentor's students. For each:
        %button /link to timeline
        %div.status /relationship health indicator

  %h2 Feedback
    /show feedback on mentor from students
    /show feedback given by mentor about students

<%= render ("admin_main_nav") %>