%hi
  Listing
  = "#{current_user.role == "mentee" ? "Mentors" : "Mentees"}"

.con-1-sm
-# pull user from db
-# User profile photo
-# User title(mentor)/stack(mentee)
-# User Co.(mentor)/Class(mentee)
-# "View Details" Button which exands view to user show.
.con-2-med
.con-main
.con-3-med
.con-4-med


  <tbody>
    <div><%= current_user.mentor? ? "Browse Mentees" : "Browse Mentors" %></div>
    <% @users.each do |user| %>
      <% if user.available? %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to 'View Profile', user %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
