%article
  %section
    %h1 Welcome to Match
    %h2 A Pairing Engine Built for Codefellows
    %h3 We're developing relationships
  %section
    %h1 Think of Match as a career jumpstart
    %h2 We help driven, talented students start meaningful conversations with experienced practicioners in the field.
  %section
    %h1 So, go on. Take a look.
    %h2 We'll help you design a killer profile, introduce yourself to someone and make sure your first step out the door is on the right foot.
  %section
    %h2 Fill out the essential information to start your Match profile
    %h2 Build on that with guided exercises from our toolbox to help mentors (and you!) understand what makes you tick.
  %section
    %h1 Leverage what you've collected to reach out to mentors simply, smartly and with confidence.
    %h2 The power is in your hands.


