!!! 5
%html(lang:"us-en")
  %head
    %meta(charset: "UTF-8")/
    %title Profile Build
    %link(rel: "stylesheet", href: "../../assets/stylesheets/application.css.scss")
  %body.profileBuild
    .reveal
      .slides
        %section
          %h2 We'll use a few quick questions to flesh out your profile. First of all, what's your name?
            %label(for: "first_name");
            %input#first_name(type: "text");
            %label(for: "last_name");
            %input#last_name(type: "text");
            %section Progress Bar Here
        %section
          %h2 Tell everyone a little bit about your story. Where are you coming from?
            %textarea.background(placeholder: )
            %section Progress Bar Here
        %section
          %h2 Describe some of things you've done. What are you proud of?
            %textarea.accomplishments
            %section Progress Bar Here
        %section
          %h2 Briefly describe your career so far. Where have you been successful?
            %textarea.proSummary
            %section Progress Bar Here
        %section
          %h2 Give 'em a couple lines about what makes you, you. Anything you want.
            %textarea.personal
            %section Progress Bar Here

