%h1 Mentor Match Login Page
%p Find me in app/views/users/login.html.haml

= link_to "Find a Mentor | ", new_user_registration_path(user_type: "mentee")
= link_to "Become a Mentor", new_user_registration_path(user_type: "mentor")
%p= link_to "Login", new_user_session_path
%p= link_to "Sign out", destroy_user_session_path, method: :delete
