<!DOCTYPE html>
<html lang="us-en">
  <head>
    <meta charset="UTF-8">
    <title>Match by Codefellows - Splash</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="splash-test.css">
    <link rel="stylesheet" href="_reset.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

  </head>
  <body class="splash">
    <figure>
      <img src='../Assets/images/cflogo.png', alt='Codefellows Logo'>
    </figure>
    <article>
      <section class="student">
        <h1>Dexter</h1>
        <h2>UX Student</h2>
        <h3>"I'm excited to get real-world insights."</h3>
        <button class="find">Find a Mentor</button>
      </section>
       <section class="mentor">
        <h1>Sarah</h1>
        <h2>UX Mentor</h2>
        <h3>"Teaching helps me keep my skills fresh."</h3>
        <button class="become">Become a Mentor</button>
      </section>
    </article>
    <button class="login">Have an Account?</button>
  </body>
</html>