<%= render ("navbar") %>

%h1 Welcome to your Toolbox
%h3 This series of tailored exercises will help you, and your mentor, gain insight into your professional trajectory.
%section
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap
  %figure
    %img
    %figcap