<% render "quicknav" %>

%h1 Your Profile
%button Edit
<%= render "select_class_dropdown" %>
%h2 Account Email: #{user_email}
%button Change Password
%button Background
%button Accomplishments
%button Professional Summary
%button Personal Statement