@import "navbar_states";

.quickNav{
  display: flex;
  align-items: center;
  margin: 5% 10% 0% 78%;
  flex-wrap: nowrap;
  background-color: $charlie;
  border: none;
  padding: 0;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  justify-content: space-around;
  width: 20vw;
  height: 5vh;
  ul{
    margin: 5% 10% 0% 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding:0;
    margin: 0;
    border-top-left-radius: 50%;
    .verticalRule{
      display: flex;
      align-items: center;
      height: 4vh;
      width: 1px;
      background-color: $delta;
    }
    li{
      display: flex;
      font-size: 4vh;
      align-items: center;
      justify-content: center;
      width: 4vw;
      }
      img{
        border-radius: 50%;
        border: solid .1em $delta;
        height: auto;
        width: 100%;
    }
  }
}


a.fa{
  font-size: 3vh;
  color: $delta;
  display: flex;
  justify-content: center;
}

.splashNav{
  position: absolute;
  top: 10px;
  right: 40px;
}