
.quickNav{
  display: flex;
  align-items: center;
  margin: 5% 5% 0% 75%;
  flex-wrap: nowrap;
  background-color: $alpha_light40;
  border: none;
  padding: 0;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  justify-content: space-around;
  width: 30vw;
  height: auto;
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-top-left-radius: 50%;
      li{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4vw;
        margin-right: 2vw;
        }
        img{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 50%;
          border: solid .2em $delta;
          height: auto;
          width: 10vw;
        }

  }
}


a.fa{
  height: 100%;
  width: 100%;
  font-size: 5vh;
  color: $delta;
}