 %nav.quickNav
    %ul
      %li.headshot
        =image_tag ("gabe_square.jpg")
      .verticalRule
      %li
        %a.fa.fa-home(abbr title="home")
      .verticalRule
      %li
        %a.fa.fa-briefcase(abbr title="toolbox")
      .verticalRule
      %li
        %a.fa.fa-bullhorn(abbr title="feedback")
      .verticalRule
      %li
        %a.fa.fa-cog(abbr title="account")