.intro
  %article
    %section._1
      %h1 Welcome to Match
      %h2 A pairing engine built for Codefellows
      %h3 building relationships in a developing world
      %a
        %span.fa-arrow-circle-o-down
    %section._2
      %h2 Think of Match as a career jumpstart
      %h3 We help driven, talented students start meaningful conversations with experienced practicioners in the field.
      %a
    %section._3
      %h2 So, go on. Take a look.
      %h3 We'll help you design a killer profile, introduce yourself to someone and make sure your first step out the door is on the right foot.
      %a
    %section._4
      %h2 Fill out the essential information to start your Match profile
      %h3 Build on that with guided exercises from our toolbox to help mentors (and you!) understand what makes you tick.
      %a
    %section._5
      %h2 Leverage what you've collected to reach out to mentors simply, smartly and with confidence.
      %h3 The power is in your hands.
      %a

