.profileBuild
  #site-wrapper
    #site-canvas
      %section.1.show
        %h2 We'll use a few quick questions to flesh out your profile. <br>First of all, what's your name?
        .inputWrapper
          %label(for="first_name") You:
          %input#first_name(type="text")
        .progBar Progress Bar Here
        .previous
        .next
      %section.2.hidden
        %h2 Tell everyone a little bit about your story. Where are you coming from?
        %textarea.background(placeholder: )
        .progBar Progress Bar Here
        .previous
        .next
      %section.3.hidden
        %h2 Describe some of things you've done. What are you proud of?
        %textarea.accomplishments
        .progBar Progress Bar Here
        .previous
        .next
      %section.4.hidden
        %h2 Briefly describe your career so far. Where have you been successful?
        %textarea.proSummary
        .progBar Progress Bar Here
        .previous
        .next
      %section.5.hidden
        %h2 Give 'em a couple lines about what makes you, you. Anything you want.
        %textarea.personal
        .progBar Progress Bar Here
        .previous
        .next
