.main button:hover{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-transform: translateX(1em);
  -moz-transform: translateX(1em);
  -o-transform: translateX(1em);
  transform: translateX(1em);
  background-color: $charlie_light10;
}

.dash img:hover{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.mainNav p:hover{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-transform: translateX(.5em);
  -moz-transform: translateX(.5em);
  -o-transform: translateX(.5em);
  transform: translateX(.5em);
  background: $alpha_light40;
}

.mainNav p:active{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background: $delta;
}