@media (max-width: 40em){
  .dash{
    .logo{
      height: 2rem;
      width: 2rem;
      margin-left: 2rem;
    }
    .quickNav{
      height: 2rem;
      margin: 0;
      img, a.signout{
        height: 2rem;
        width: 2rem;
      }
      a.signout{
        font-style: normal;
        font-size: 6px;
      }
    }
    li{
      height: 2rem;
    }
    .hi{
      display: none;
    }
    .mainNav{
      position: absolute;
      z-index: 1;
      width: 8em;
      label{
        position: absolute;
        left: 0;
        top: 0;
        margin: 0 0 1rem -.5rem;
      }
      section:first-of-type{
        margin-top: 3em;
      }
    }
    .users{
      // display: flex;
      // align-items: center;
      // justify-content: center;
      width: 100vw;
      .userCard{
        display: block;
        margin: 0 auto;
        width: 60vw;
      }
    }
    .pages{
      width: 80%;
      margin: 0 auto;
      padding: 2rem;
    }
    .pagination{
      font-family: $header-font;
      color: $delta;
      width: 100%;
      display: flex;
      justify-content: space-between;
      a{
        color: $delta;
      }
      .previous_page, .previous_page + .disabled, .next_page{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 5vh;
        background: $charlie;
        padding: 2rem;
        border-radius: 50%;
      }
    }
  }
}