.dash {
  background-color: $alpha;
  background-image: url(image-path("bottle_wide.jpg"));
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width: 100vw;
  header{
    padding: 5vh;
    display: flex;
    align-items: center;
    align-content: center;
  }
  .logo {
    height: 10vh;
    width: 10vh;
    background-image: url(image-path("cflogo.png"));
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.mainWrapper {
  width: 100%;
  // display: flex;
}

.main, .mainAside, .mainNav {
  // display: flex;
  height: 60vh;
}
/* line 36, /Users/bwstud/Box Sync/Work/Codefellows/Mentor/final-repo/Mentor-Match-Reboot/app/assets/stylesheets/modules/dashboard/_new_dash.scss */
.mainNav{
  float: left;
  margin: 0 0 0 -10vw;
  justify-content: center;
  flex-wrap: wrap;
  width: 20vw;
  padding: 0;
  @extend %transition;
  &:hover{
    @extend %transition;
    margin: 0 0 0 0;
  }
  section {
    background-color: transparent;
    width: 80%;
    padding: 0;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: calc(100%/7);
    border-bottom: .2em solid $alpha;
    p {
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      height: 100%;;
      margin: 0;
      font-family: "Montserrat";
      font-size: 2vh;
      color: white;
      width: 100%;
      padding: 0;
      background-color: $alpha_light60;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

.main {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 25%;
  width: auto;
  background: transparent;
  section {
    width: 30%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgba(169,169,169, .7);
    padding: 0;
    margin: 1vh;
    &.main{
      background: transparent;
    }
    &:hover {
    }
    h2{
      width: 100%;
      padding-left: 1em;
      color: $delta;
      opacity: 1;
      height: 20vh;
      font-size: 2vh;
      display: flex;
      align-items: center;
    }
    button{
      background-color: $charlie;
      text-align: center;
      padding: 0;
      margin: 0;
      height: 15vh;
      width: 100%;
      border: none;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        background: transparent;
        display: block;
        width: 100%;
        text-align: center;
        }
    }
  }
}


/* line 129, /Users/bwstud/Box Sync/Work/Codefellows/Mentor/final-repo/Mentor-Match-Reboot/app/assets/stylesheets/modules/dashboard/_new_dash.scss */
.mainAside {
  margin: 0 -10vw 0 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  @extend %transition;
  &:hover{
    @extend %transition;
    margin: 0;
  }

  section {
    background-color: $alpha_light10;;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 15vh;
    margin-bottom: 1vh;
    figure {
    background: $alpha_light20;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    img {
    border-radius: 50%;
    width: auto;
    height: 10vh;
    border: 0.1em solid white;
  }
  .paraWrap{
    display: flex;
    align-items: center;
  }
    .paraWrapP {
      font-size: 2vh;
      background-color: $alpha_light10;
      text-align: center;
      display: flex;
      padding-left: 1em;
    }
  }
}