/*================================================
              DASHBOARD BACKGROUND
=================================================*/

.dash {
  // background-color: $alpha;
  background-image: url(image-path("bottle_wide.jpg"));
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width: 100vw;
  img{
    @extend %transition_pt1s
  }

/*================================================
               DASHBOARD HEADER
=================================================*/

  header{
    padding-top: .25em;
    display: flex;
    justify-content: space-between;

  }
  .logo {
    height: 3rem;
    width: 3rem;
    margin-left: 1em;
    background-image: url(image-path("cflogo.png"));
    background-size: contain;
    background-repeat: no-repeat;
  }
  .quickNav{
    align-self: flex-end;
  }
}
/*================================================
          DASHBOARD CONTENT AREA WRAPPER
=================================================*/

.mainWrapper {
  width: 100%;
}

.mainNav {
  // display: flex;
  height: 60vh;
}

/*================================================
          SLIDE OUT MAIN NAV (FROM-LEFT)
=================================================*/

.mainNav{
  position: relative;
  float: left;
  justify-content: center;
  flex-wrap: wrap;
  width: 20vw;
  padding: 0;
  @extend %transition;
  input{
    opacity: 0;
    position: absolute;
  }
  label{
    color: $delta;
    font-size: 1.5rem;
    margin: 1em .25em 1em 1rem;
    ::before{
      margin: 1em;
    }
  }
  #navToggle:checked ~ section{
    @extend %transition_pt1s;
    margin: 0 0;
  }
  p{
    font-family: $header-font;
    font-style: normal;
    font-variant: small-caps;
    display: inline;
  }
  section {
    @extend %transition_pt1s;
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 0 0 0 -100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: calc(100%/7);
    border-bottom: .2em solid $alpha;
    p {
      @extend %transition;
      height: 100%;;
      margin: 0;
      font-family: "Montserrat";
      font-size: 2vh;
      color: $delta;
      width: 100%;
      padding: 0;
      background-color: rgba(129,129,129, .6);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 1em;
      font-style: normal;
    }
    a{
      color: $delta;
      font-style: normal;
      width: 100%;
      text-align: right;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
