.main button:hover{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-transform: translateX(140px);
  -moz-transform: translateX(140px);
  -o-transform: translateX(140px);
  transform: translateX(140px);
  background-color: $charlie_light10;
}