/*================================================
              DASHBOARD BACKGROUND
=================================================*/

.dash {
  background-color: $alpha;
  background-image: url(image-path("bottle_wide.jpg"));
  background-size: cover;
  background-position: center top;
  height: 100vh;
  width: 100vw;

/*================================================
               DASHBOARD HEADER
=================================================*/

  header{
    padding: 5vh;
    display: flex;
    align-items: center;
    align-content: center;
  }
  .logo {
    height: 10vh;
    width: 10vh;
    background-image: url(image-path("cflogo.png"));
    background-size: contain;
    background-repeat: no-repeat;
  }
}
/*================================================
          DASHBOARD CONTENT AREA WRAPPER
=================================================*/

.mainWrapper {
  display: flex;
}

.main, .mainAside, .mainNav {
  // display: flex;
  height: 60vh;
}

/*================================================
          SLIDE OUT MAIN NAV (FROM-LEFT)
=================================================*/

.mainNav{
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
  width: 20vw;
  padding: 0;
  section {
    background-color: transparent;
    width: 80%;
    padding: 0;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    height: calc(100%/7);
    border-bottom: .2em solid $alpha;
    p {
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      height: 100%;;
      margin: 0;
      font-family: "Montserrat";
      font-size: 2vh;
      color: $delta;
      width: 100%;
      padding: 0;
      background-color: rgba(129,129,129, .6);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 1em;
      font-style: normal;
    }
    a{
      color: $delta;
      font-style: normal;
    }
  }
}

/*================================================
              CENTRAL CONTENT AREA
=================================================*/

.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  width: 60vw;
  background: transparent;
  section {
    width: 30%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgba(129,129,129, .6);
    padding: 0;
    &.main{
      background: transparent;
    }
    h2{
      width: 100%;
      text-transform: uppercase;
      background: transparent;
      height: 20vh;
      font-size: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button{
      background-color: $charlie;
      text-align: center;
      padding: 0;
      margin: 0;
      height: 15vh;
      width: 100%;
      border: none;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        background: transparent;
        display: flex;
        text-align: center;
        padding: 1em;
        color: $delta;
        border-radius: 50%;
        background: $alpha;
        }
    }
  }
}

/*================================================
        SLIDE-OUT ACTIVITY FEED (FROM-RIGHT)
=================================================*/

.mainAside {
  margin: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 129, /Users/bwstud/Box Sync/Work/Codefellows/Mentor/final-repo/Mentor-Match-Reboot/app/assets/stylesheets/modules/dashboard/_new_dash.scss */
.mainAside {
  margin: 0;
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  section {
    background-color: rgba(129,129,129, .6);
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 1vh;
    figure {
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    img {
    border-radius: 50%;
    width: auto;
    height: 10vh;
    border: 0.1em solid white;
  }
  .paraWrap{
    display: flex;
    align-items: center;
  }
  .paraWrapP {
    font-size: 2vh;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1em;
  }
  }
}