%alpha_background{
  background-color: $alpha;
  background-size: cover;
}
.mainNav{
  display: inline-block;
}
article{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  section{
    background-color: $bravo;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    margin: 1em 0;
    padding: 0;
    span{
      font-size: 4vh;
      color: $delta;
    }
    button{
      background-color: $charlie;
      height: 10vh;
      width: 20%;
      border: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        text-align: center;
        width: 100%;
      }
    }
    h2{
      width: 60%;
      font-size: 2vh;
      min-width: 1080px;
      height: 10vh;
      padding-left: 1em;
      background-color: $alpha;
      margin: 0;
      display: flex;
      align-items: center;
    }
    figure{
      background-color: $alpha_light40;
      width: 20%;
      height: 10vh;
      // padding: 4em 0 4em 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}