/*==============================================
              BACKGROUND
==============================================*/

.users{
  background: transparent;
  height: 100%;
  min-height: 100vh;
  padding: 1rem 0 10vh 0;


/*==============================================
            BROWSE QUICKNAV STYLES
==============================================*/

  .quickNav{
    margin-left: 65vw;
    a, p, span,{
      color: $alpha_light80;
    }
    label{
      color: $alpha_light40;
    }
    .verticalRule{
      background-color: $alpha_light80;
    }
  }

/*==============================================
              USER CARD STYLES
==============================================*/

  .userCard{
    position: relative;
    height: 15rem;
    width: 8rem;
    padding: .5rem;
    // background: $alpha_light40;
    background: rgb(129, 129, 129); //fallback for unsuported browsers
    background: rgba(129, 129, 129, .6);
    display: inline-block;
    margin: 2rem;
    border-radius: 3px;
    border-bottom: 2px solid rgb(129, 129, 129); //fallback for older browsers
    border-bottom: 2px solid rgba(129, 129, 129, .6);
    img, p{
      margin: 0 auto;
      display: block;
      text-align: center;
    }
    img{
      width: 66%;
      height: auto;
      margin-bottom: 1rem;
    }
    p{
      color: $delta;
      font-size: .75rem;
      font-family: $header-font;
      font-style: normal;
    }
    p#name{
      margin-bottom: .75rem;
    }
    p#position, p#company, p#stack, p#grad_class{
      font-family: $body-font;
      font-size: .5rem;
      text-overflow: ellipsis;
    }
    button{
      width: 100%;
      font-family: $header-font;
      text-transform: uppercase;
      font-size: .5rem;
      background-color: $charlie;
      border: none;
      margin-top: 20%;
      &:hover{
        background-color: $bravo;
      }
      a{
        color: $alpha_light90;
        display: flex;
        width: 100%;
        height: 3em;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
