.trans_wht_btn:hover {
  border: none;
  background-color: $charlie;

   // @include animation(scale .1s ease-in-out);
  // -webkit-transition: all .1s ease-in-out;
  // -moz-transition: all .1s ease-in-out;
  // -o-transition: all .1s ease-in-out;
  // transition: all .1s ease-in-out;
  // -ms-transform: scale(1.2); /* IE 9 */
  // -webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
  // transform: scale(1.2);
}

.trans_wht_btn::hover {
  border: none;
  background-color: $alpha_light50;
  color: $delta;
}

.trans_wht_btn:active {
  background-color: $charlie;
}


.wht_red_btn:hover {
  background-color: $delta;
  opacity: 1;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}