.trans_wht_btn {
  border: 2px solid white;
  background-color: transparent;
}

.trans_blk_btn {
  border: 2px solid black;
  background-color: transparent;
}
// .new .trans_wht_btn {
//   border-color: $charlie;
// }

.wht_red_btn {
border: none;
background-color: $delta_light10;
opacity: .7;
color: $charlie;
}