.trans_wht_btn {
  border: 1px solid white;
  background-color: transparent;
}

.trans_blk_btn {
  border: 1px solid black;
  background-color: transparent;
}
// .new .trans_wht_btn {
//   border-color: $charlie;
// }

.wht_red_btn {
border: none;
background-color: $delta_light10;
opacity: .7;
color: $charlie;
}

a.user-card-button {
  width: 100%;
  height: 3em;
  color: $delta;
  font-family: $header-font;
  text-transform: uppercase;
  font-size: .5rem;
  background-color: $charlie;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  &:hover{
    background-color: $bravo;
  }
}
