.trans_wht_btn {
  border: 2px solid white;
  background-color: transparent;
<<<<<<< HEAD
}

.wht_red_btn {
border: none;
background-color: $delta_light10;
color: $charlie;
=======
>>>>>>> 4c4837fce7eedcb5ef5038a474928ace02a905dd
}