%btn_txt_med {
  font-family: $header-font;
  font-size: 2vh;
  text-transform: uppercase;
}

%transition{
  -webkit-transition: all .05s ease-in-out;
  -moz-transition: all .05s ease-in-out;
  -o-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
}