@import "splash/splash";
@import "new_user/new_user";
@import "profile/profile_starter";
@import "intro/intro";
@import "dashboard/new_dash";
@import "toolbox/toolbox";
@import "user_show/user_show";
@import "Admin/courses/courses";
