input {
  border: none;
  margin: 0;
  padding: 0;
  background-color: $delta_light20;
  &:focus{
    outline-color: $charlie;
  }
}

label {
 @extend %btn_txt_med
}

textarea{
  resize: none;
  &:focus{
    outline-width: 20px;
    outline-color: $bravo;
  }
}