input {
  border: none;
  margin: 0;
  padding: 0;
  background-color: $delta_light20;
}

label {
 @extend %btn_txt_med
}

textarea{
  resize: none;
}

select, input, textarea {
  &:focus{
    outline-color: $charlie;
    outline-width: .5em;
  }
}