// $myname:"Brian";

// @mixin placeholder($color, $font-family, $){

//   :-moz-placeholder
// }
%transition{
  -webkit-transition: all .05s ease-in-out;
  -moz-transition: all .05s ease-in-out;
  -o-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
}

%transition_pt1s{
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

%transition_pt5s{
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

%transition_1s{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
