@media (max-width: 800px) {
.splash{
  h3{
    font-size: 2vh;
  }
  section{
    &.student{
      padding-right: 20vw;
    }
    &.mentor{
      padding-left: 20vw;
    }
    &.button-wrap
    .findMentor{
      margin-right: 40vw;
    }
  }
}
}

@media (max-width: 640px){
  body{height: 1100px;}
  .splash{
    background: $alpha;
    .triangleUp{
      display: block;
      height: 0;
      width: 0;
      border-right: 2vw solid transparent;
      border-left: 2vw solid transparent;
      position: absolute;
      top: -5%;
      left: 49%;
      &.triWht{
            border-bottom: 2vw solid $delta;
          }
      &.triBlk{
        border-bottom: 2vw solid $alpha;
      }
      &.darkRed{
        border-bottom: 2vw solid $charlie;
      }
    }
    header{
      display: flex;
      align-items: center;
      background: $delta;
      figure{
        width: 20vw;
        height: auto;
        padding-bottom: 1vh;
        display: block;
        justify-content: center;
        align-items: center;
        background: $delta;
        opacity: .7;
      }
      img{
        padding: 0;
        margin: 0 auto;
        display: block;
      }
      button{
        &.mobileLogin, &.mobileSignup{
          display: inline;
          font-size: 2vh;
          margin: 0 1vw;
          padding: .1em;
          width: 18vw;
          height: 5vh;
          border-radius: 0;
          background: white;
          opacity: .7;
          color: $charlie;
          border: none;
          text-transform: uppercase;
          font-family: $header-font;
          border-radius: .2em;
        }
        &.mobileSignup{
         margin-left: 40vw;
        }
      }
    }
    article{
      position: relative;
      &.copy{
        top: 0;
        height: auto;
        padding: 10vh 0 25vh 0;
        margin:  0;
        background-image: url(image-path("dexter-sarah3.jpg"));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        // background: -webkit-linear-gradient(bottom, white, $alpha_light90);
      }
      h3{
        display: none;
      }
      &.roleButtons{
        background: $alpha_light90;
        flex-wrap: wrap;
        p{
          display: block;
          font-size: 2vh;
          color: $delta;
          padding: 3em;
          width: 100%;
          background: $charlie;
          text-align: center;
        }
      }
      &.haveAccount{
        background: $charlie;
      }
    }
    section{
      position: relative;
      &.student{
        padding: 0 16vw 0 0;
      }
      &.mentor{
        padding: 0 0 0 16vw;
      }
      &.button-wrap{
        width: 100%;
        background: $alpha;
        padding: 8vh 0;
        &.wht{
          background: $delta;
        }
        .findMentor{
          margin: 0;
          border-color: $alpha_light40;
          a{
          color: $alpha_light40;
          }
        }
        button{
          background: transparent;
          border: 2px solid $alpha_light80;
          border-radius: .2em;
          a{
            color: $alpha_light80;
          }
        }
      }
      &.existingUser{
        padding: 8vh 0;
        margin: 0;
      }
      &.hero{
        padding: 0;
        margin: 0;
        ul{
          margin: 0;
          &.mentors{
            padding-right: 2vw;
          }
          h1{
            font-size: 5vh;
          }
          h2{
            font-size: 4vh;
          }
          h3{
            font-size: 2vh;
          }

        }
      }
    }
  }
}
