.splash {
  height: 100vh;
  width: 100vw;
  background-image: url(image-path("dexter-sarah3.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: $alpha;
  button{
    &.mobileLogin, &.mobileSignup{
    display: none;
    @extend %transition;
    }
  }
.triangleUp {
    display: none
  }
  & h1, & h2, & h3 {
    width: 100%;
    display: flex;
  }
  figure{
    @extend %transition;
    padding: 1vh 0 0 0;
    margin: 0;
  }
  img{
  width: 5vw;
  height: auto;
  display: block;
  margin: 0 auto;
  }
  article{
    &.copy {
      width: 100vw;
      display: flex;
      height: 50vh;
      align-items: center;
      justify-content: center;
      }
    &.roleButtons{
      height: auto;
      display: flex;
      justify-content: center;
      p{
        display: none;
      }
    }
    &.haveAccount{
      display: flex;
      justify-content: center;
    }
  }
  section{
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    &.student{
      padding-right: 20vw;
      & h1, h2, h3 {
        justify-content: flex-end;
        text-align: right;
      }
    }
    &.mentor {
      padding-left: 20vw;
    }
    &.button-wrap, &.existingUser{
      display: flex;
      width: 50vw;
      justify-content: center;
    }
    &.existingUser{
      margin: 5vw 0 17vh 0;
      z-index: 1;
    }
    &.hero{
      display: flex;
      justify-content: center;
      width: 100%;
      h1, h2, h3{
        color: $alpha;
        width: 50vw;
        display: flex;
      }
      h1{
        font-size: 8vh;
        font-family: $title-font;
      }
      h2{
        font-size: 5vh;
        font-family: $header-font;
      }
      h3{
        font-size: 3vh;
      }
      figure{
        z-index: -1;
        width: 50vw;
        height: auto;
        padding: 0;
        margin: 0;
        img {
          width: 100%;
        }
      }
      ul{
        list-style-type: none;
        width: 50vw;
        padding: 10vh 0 10vh 2vw;
        background: $charlie;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        &.mentors{
          h1, h2, h3{
            display: flex;
            justify-content: flex-end;
            text-align: right;
          }
        }
        h1{
          color: $bravo;
        }
        h2{
          color: $delta;
        }
        h3{
          color: $alpha;
          margin-top: 1vh;
        }
      }
    }
    &.about{
      width: 100%;
      background: $alpha;
      h1{
        color: $charlie;
      }
    }
  }
}