div.splash {
  width: 100%;
}

.splash img{
  width: 4em;
  height: auto;
  display: block;
  margin: 0 auto;
}

article {
  display: flex;
  justify-content: center;
  height: 50vh;
  align-items: center;
}

section{
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
  width: 50vw;
}

section.student{
  padding-right: 20vw;
  & h1, h2, h3 {
    justify-content: flex-end;
  }
}

section.mentor{
  padding-left: 20vw;
}

.splash h1, h2, h3 {
  width: 100%;
  display: flex;
}

.button-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

button.findMentor {
  margin-right: 20vw;
}

button.beMentor {
  margin-left: 20vw;
}

.login-wrap {
  display: flex;
  width: 100%;
}

.login-wrap>button {
  margin: 10vh auto;
}