.splash {
  height: 100vh;
  width: 100vw;
  background-image: url(image-path("dexter-sarah3.jpg"));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: $alpha;
  & h1, & h2, & h3 {
    width: 100%;
    display: flex;
  }
  figure{
    padding: 1vh 0 0 0;
    margin: 0;
  }
  img{
  width: 5vw;
  height: auto;
  display: block;
  margin: 0 auto;
  }
  article {
    width: 100vw;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
  }
  section{
    display: flex;
    flex-wrap: wrap;
    &.student{
      width: 50vw;
      padding-right: 16vw;
      & h1, h2, h3 {
        justify-content: flex-end;
      }
    }
    &.mentor {
      width: 50vw;
      padding-left: 16vw;
    }
    &.button-wrap{
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      .findMentor{
        margin-right: 32vw;
      }
    }
    &.login-wrap {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 2vh auto;
    }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
  }
}