.splash{
  .mobileSignup, .mobileLogin{
    &:hover{
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      opacity: 1;
    }
    &:active{
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      color: $charlie;
    }
  }
  figure {
    &:hover{
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      opacity: 1;
    }
  }
  .findMentor{
    @extend %transition;
    a{
      &:hover{
        @extend %transition;
      }
      &:active{
        @extend %transition;
        color: $charlie;
      }
    }
  }
  .beMentor{
    @extend %transition;
    &:hover{
      @extend %transition;
      color: $delta;
    }
    &:active{
      @extend %transition;
      color: $charlie;
    }
  }
}